@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Dobrodošli na preglednik knjiga</h1>
    <p> <img width="962" height="463" src="https://www.posta.hr/resize.aspx?filename=/posta/slike/knjige.jpg&width=780&height=500" />  </p>
</div>
