@{
    ViewData["Title"] = "O nama";
}
<h1>@ViewData["Title"]</h1>

<p>Adresa: Vijenac Ivana Meštrovića 1E</p>
<p>Svi žanrovi knjiga, od najstarijih klasika do modernih krimića, dostupni su u najboljoj knjižnici u gradu!</p>